.feature{
    list-style: none;

    .feature__description--color-change{
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color:#ffffff;
        text-align: center;
        padding-top:40px;
    }
    .feature__description{
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color:#000000;
        text-align: center;
        padding-top:40px;
    }
    .feature__description--house{
        position: relative;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color:#000000;
        padding:10px 0;
        padding-left:70px;
        &::before{
            content: "";
            position: absolute;
            top:5px;
            left:20px;
            width:35px;
            height: 35px; ;
            background-image:url("../img/icon-house.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .feature__description--gift{
        position: relative;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color:#000000;
        padding:10px 0;
        padding-left:70px;
        &::before{
            content: "";
            position: absolute;
            top:5px;
            left:20px;
            width:35px;
            height: 35px; ;
            background-image:url("../img/icon-gift.svg");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .feature__description--burger{
        position: relative;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color:#000000;
        padding:10px 0;
        padding-left:70px;
        &::before{
            content: "";
            position: absolute;
            top:5px;
            left:20px;
            width:35px;
            height: 35px; ;
            background-image:url("../img/icon-burger.svg");
            background-repeat: no-repeat;
            background-size: contain;
    
        }
    }
    .feature__priority-number{
        display: block;
        padding-top:10px;
        
    }
    .feature__priority--color-change{
        font-size: 14px;
        line-height: 21px;
        color:#ffffff;
        text-align: center;
        padding-bottom:40px;
    }
    .feature__priority{
        font-size: 14px;
        line-height: 21px;
        color:#000000;
        border-bottom: 1px solid #d6d6d6;
        padding-bottom:40px;
        width:250px;
        text-align: center;
        margin:0 auto;
    }
    .feature__priority--change{
        padding-left:70px;
        padding-bottom:40px;
    }
    .feature__img--sedona-img{
        background-image:url("../img/main-city-mobile@1x.jpg");
        background-color:green;
        width:320px;
        height:260px;
        background-size: cover;
    }
    .feature__img--devils-bridge-img{
        background-image:url("../img/photo-bridge-mobile@1x.jpg");
        background-color:green;
        width:320px;
        height:260px;
        background-size: cover;
    }
}