.form-contacts{
    padding:0 20px;
    .form-contacts__title{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
    }
    .form-contacts__item{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 26px;
    }
    .form-contacts__input{
        font-size: 14px;
        line-height: 26px;
        font-weight: bold;
        color:green;
        padding-left:15px;
    }
}